body {
    background: radial-gradient(circle, #000, #0c1e3f);
    height: 100vh;
    margin: auto;
    overflow-x: hidden;
}
.wrapper span {
    position: fixed;
    animation: animate 2s linear infinite;
}
.wrapper span i {
    color: #fff;
    font-size: 18px;
}
.wrapper span:nth-child(1) { left: 60px; animation-delay: 0.6s; top: 5%; }
.wrapper span:nth-child(2) { left: 10%; animation-delay: 2s; top: 40%; }
.wrapper span:nth-child(3) { left: 20%; animation-delay: 5s; top: 15%; }
.wrapper span:nth-child(4) { left: 26%; animation-delay: 4s; top: 67%; }
.wrapper span:nth-child(5) { left: 40%; animation-delay: 0.5s; top: 85%; }
.wrapper span:nth-child(6) { left: 50%; animation-delay: 5s; top: 23%; }
.wrapper span:nth-child(7) { left: 60%; animation-delay: 6s; top: 65%; }
.wrapper span:nth-child(8) { left: 70%; animation-delay: 3.5s; top: 12%; }
.wrapper span:nth-child(9) { left: 80%; animation-delay: 9s; top: 75%; }
.wrapper span:nth-child(10) { left: 90%; animation-delay: 3s; top: 14%; }
@keyframes animate {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 20px;
}
header .img {
    height: 50px;
}
.navbar {
    width: 100%;
    position: fixed;
    padding-top: 3%;
}
.navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}
.navbar li {
    margin: 0 10px;
}
.navbar a {
    margin: auto;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    text-transform: uppercase;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.navbar a:hover {
    background-color: #226ca0;
}
.toggle-button {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}
.toggle-button.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.toggle-button.active .bar:nth-child(2) {
    opacity: 0;
}
.toggle-button.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
h1 {
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 100px auto;
    font-size: 4em;
    line-height: 1.05;
    color: #fefcf8;
    max-width: 90%;
    margin-left: 10%;
}
#content1 {
    padding-left: 6%;
}
.img {
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    left: 1%;
    top: 2%;
}
.image {
    position: absolute;
    top: 6%;
    right: 10%;
    max-width: 100%;
    max-height: 100%;
}
button {
    color: rgb(5, 4, 73);
    font-size: 20px;
    font-weight: 300;
    background-color: #d0eef2;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    margin: auto;
    border: none;
    cursor: pointer;
    display: block;
}
button:hover {
    background-color: #226ca0;
}
#about-us {
    margin: 15% 15% 0;
    border: 2px solid #226ca0;
    font-size: 2em;
    text-align: center;
    padding: 20px;
    color: whitesmoke;
}
.para {
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 15px;
    font-size: 1.15rem;
    color: rgba(255, 255, 255, 0.85);
}
#About {
    display: inline;
    color: red;
}
#contact p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 2rem;
    text-align: center;
}
#contact a {
    color: #d0eef2;
}
h2 {
    text-align: center;
    color: #f1f1f1;
    font-size: 2rem;
}
fieldset {
    max-width: 40%;
    margin: auto;
    padding: 20px 50px;
    border-radius: 20px;
}
input[type=text] {
    text-align: left;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 20px;
}
input[type=text]:focus {
    outline: none;
}
.submit {
    text-align: center;
    margin: auto;
}
input[type=submit] {
    padding: 15px 50px;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: #0c1e3f;
    color: #d0eef2;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #d0eef2;
    color: #0c1e3f;
}
.icons {
    display: flex;
    justify-content: center;
    padding: auto;
}
.icons a {
    text-decoration: none;
    margin: 25px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1rem;
    position: relative;
}
.icons a i {
    font-size: 1.5rem;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}
.icons a:hover i {
    background-color: lightblue;
    color: white;
}
footer {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    color: rgba(255, 255, 255, 0.85);
}
footer a {
    color: #87cefa;
    text-decoration: none;
}
.name {
    font-size: larger;
    justify-content: center;
    display: flex;
    line-height: 4rem;
}
.number {
    color: #87cefa;
}
#copyright {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #d0eef2;
}
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        display: none;
    }

    .navbar .toggle-button {
        display: block;
        cursor: pointer;
        margin-right: 20px;
    }
    .navbar .toggle-button .bar {
        margin-top: 5px;
    }

    .navbar ul.active {
        display: flex;
    }

    h1 {
        font-size: 3em;
        line-height: 1.2;
        margin: 50px 10px;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        text-align: center;
    }
    .image {
        position: static;
        margin: 10px auto;
        display: grid;
        place-items: center;
        max-width: 100%;
    }
    button {
        font-size: 1.5rem;
        max-width: 300px;
        margin: auto;
        display: block;
        position: relative;
        top: 25%;
    }
    #about-us {
        font-size: 1.5rem;
        padding: 10px;
        margin: 20px 5%;
    }
    footer {
        font-size: 1.5rem;
    }
    #copyright {
        font-size: 1.2rem;
        margin-top: 10px;
        color: #d0eef2;
    }
    .icons {
        flex-direction: row;
        align-items: center;
    }
    .icons a {
        margin: 10px 0;
    }
    .icons a i {
        font-size: 1.2rem;
        padding: 8px;
        width: 20px;
        height: 20px;
    }
    .name{
        font-size: 1.2rem;
    }
    button{
        max-width: 60%;
    }
    #contact p{
        font-size: large;
    }
}
@media (max-width: 320px)  {
    h1{
        font-size: 2rem;
    }
    .icons {
        flex-direction: row;
        align-items: center;
    }
    .icons a {
        margin: 10px 0;
    }
    .icons a i {
        font-size: 1.2rem;
        padding: 8px;
        width: 20px;
        height: 20px;
    }
    .name{
        font-size: 1.2rem;
    }
    button{
        max-width: 60%;
    }
    #contact p{
        font-size: large;
    }
}
@media (max-width: 1020px) and (min-width: 768px) {
    .image {
        position: absolute;
        right: 5%;
        margin: 10px auto;
        display: grid;
        place-items: center;
        max-width: 100%;
    }
    button {
        position: absolute;
        top: 50%;
    }
}
